.feedback-container {
  align-items: center;
  background-color: #f8f4e5;
  border: 2px solid #25273c;
  box-shadow: 15px 15px 1px #ffec80 , 15px 15px 1px 2px #25273c;
  display: flex;
  flex-flow: column wrap;
  margin: 25px;
  max-width: 900px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 1rem;
}

.btn-feedback {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.btn-feedback > button {
  margin: 5px;
}
