body {
  background-image: url(./assets/trivia-background.jpg);
  background-position: center;
}

.container-login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-login {
  height: 300px;
  width: 30%;
  background-color: #F8F4E5;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 50px 100px;
  border: 2px solid rgba(0,0,0,1);
  box-shadow: 15px 15px 1px #ffec80, 15px 15px 1px 2px rgba(0,0,0,1);
}

input {
  display: flex;
  font-size: large;
  border: none;
  border-bottom: 5px solid rgba(0,0,0,1);
  background-color:transparent;
}

button {
  padding: 8px 20px;
  background-color: #ffec80;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 3px 3px 1px 1px #e77306, 3px 3px 1px 2px rgba(0,0,0,1);
}